/* styles.css */
body {
    font-family: Arial, sans-serif;
    background: #1e293b;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.bmi-calculator {
    background: #334155;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    width: 300px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
}

h1 {
    margin-bottom: 20px;
}

.gender-selection {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.gender {
    background: #475569;
    border: none;
    color: #fff;
    padding: 10px 20px;
    margin: 0 5px;
    border-radius: 5px;
    cursor: pointer;
}

.gender.selected {
    background: #1e40af;
}

.input-section {
    margin-bottom: 20px;
    width: 95%;
    align-content: center;
}

label {
    display: block;
    margin-bottom: 5px;
}

input {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: none;
    border-radius: 5px;
}

button {
    background: #0ea5e9;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background: #0284c7;
}

#result {
    margin-top: 20px;
    font-size: 18px;
    font-weight: bold;
}